{% extends 'auth/base.html' %}
{% block title %} PASSWORD RESET {% endblock %}
{% block content %}
<div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
        <div class="card" style="background-color:rgb(252, 251, 251)">
            <div class="card-body">
                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                    <div class="brand-logo">
                        <center><img src="/static/images/nono.png" alt="logo"style="width:7em"></center>
                    </div>
                    </br>
                    <p class="text-center">Welcome to MS NONO INVESTMENT</p>
                    <form method="post" action="">
                        {% csrf_token %}
                    <div class="mb-3">
                        <label for="New password" class="form-label">New Password</label>
                        <input type="password" name="new_password1" class="form-control" id="new_password1" required>
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                        <input type="password" name="new_password2" class="form-control" id="new_Password2" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
